practica10/pasaje.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.misitio.com" xmlns="http://www.misitio.com"
           elementFormDefault="qualified">
    <xs:element name="pasaje" type="tipoPasaje"/>
    <xs:complexType name="tipoPasaje">
        <xs:attribute name="asiento" type="xs:string" use="required"/>
        <xs:attribute name="ventanilla" type="xs:boolean" default="true"/>
        <xs:attribute name="precio" type="xs:decimal" use="optional"/>
        <xs:attribute name="moneda" type="xs:string" default="euros"/>
    </xs:complexType>
</xs:schema>